{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conta Corrente</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="container">
      <div class="boxs">
        <div class="box-saldo">
          <i class="material-symbols-outlined"> attach_money </i>
          <p>Saldo</p>
          <span id="valorDoSaldo">2000</span>
        </div>
        <div class="box-saque">
          <i class="material-symbols-outlined"> file_download </i>
          <p>Saque</p>
          <span id="valorDoSaque">0</span>
        </div>
        <div class="box-deposito">
          <i class="material-symbols-outlined"> file_download </i>
          <p>Deposito</p>
          <span id="valorDoDeposito">0</span>
        </div>
      </div>
      <div class="operacao">
        <div class="saque">
          <input type="text" placeholder="Informe o valor para saque:" id="inputSaque"/>
          <input type="button" value="Sacar" id="buttonSaque"/>
        </div>
        <div class="espacamento"></div>
        <div class="deposito">
          <input type="text" placeholder="Informe o valor de deposito:" id="inputDeposito"/>
          <input type="button" value="Depositar" id="buttonDeposito" />
        </div>
      </div>
     <div class="boxMsg">
        <p id="msg"></p>
      </div>
     </div>
    </div>
    <script src="./assets/javascript/app.js"></script>
  </body>
</html>
